GP-1-TheDice/.vs/GP-1-TheDice/DesignTimeBuild/.dtbcache
GP-1-TheDice/.vs/GP-1-TheDice/v16/.suo
GP-1-TheDice/.vs/GP-1-TheDice/v16/Server/sqlite3/db.lock
GP-1-TheDice/.vs/GP-1-TheDice/v16/Server/sqlite3/storage.ide
GP-1-TheDice/bin/Debug/netcoreapp3.0/GP-1-TheDice.deps.json
GP-1-TheDice/bin/Debug/netcoreapp3.0/GP-1-TheDice.dll
GP-1-TheDice/bin/Debug/netcoreapp3.0/GP-1-TheDice.exe
GP-1-TheDice/bin/Debug/netcoreapp3.0/GP-1-TheDice.pdb
GP-1-TheDice/bin/Debug/netcoreapp3.0/GP-1-TheDice.runtimeconfig.dev.json
GP-1-TheDice/bin/Debug/netcoreapp3.0/GP-1-TheDice.runtimeconfig.json
GP-1-TheDice/obj/GP-1-TheDice.csproj.nuget.cache
GP-1-TheDice/obj/GP-1-TheDice.csproj.nuget.dgspec.json
GP-1-TheDice/obj/GP-1-TheDice.csproj.nuget.g.props
GP-1-TheDice/obj/GP-1-TheDice.csproj.nuget.g.targets
GP-1-TheDice/obj/project.assets.json
GP-1-TheDice/obj/Debug/netcoreapp3.0/GP-1-TheDice.AssemblyInfoInputs.cache
GP-1-TheDice/obj/Debug/netcoreapp3.0/GP-1-TheDice.assets.cache
GP-1-TheDice/obj/Debug/netcoreapp3.0/GP-1-TheDice.csproj.FileListAbsolute.txt
GP-1-TheDice/obj/Debug/netcoreapp3.0/GP-1-TheDice.csprojAssemblyReference.cache
GP-1-TheDice/obj/Debug/netcoreapp3.0/GP-1-TheDice.dll
GP-1-TheDice/obj/Debug/netcoreapp3.0/GP-1-TheDice.exe
GP-1-TheDice/obj/Debug/netcoreapp3.0/GP-1-TheDice.pdb
GP-1-TheDice/obj/Debug/netcoreapp3.0/GP-1-TheDice.AssemblyInfo.cs
